/* Important styling */
html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: rgb(67, 72, 76);
    color: rgb(235, 237, 238);
}

main {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

main #loader {
    position: absolute;
    z-index:99;
    text-align: center;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,1);
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

main #loader span {
    margin: 0 auto;
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(238, 99, 82);
    animation: spinner-in-out 1s infinite linear;
}

main #response {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

main section {
    display: none;
    padding: 0;
}

main section.active {
    display: block;
}

.hide {
    display: block;
    opacity: 0;
}

.show {
    display: block;
    opacity: 1;
}

/* Regular styling */
nav {
    background-color: rgb(232, 80, 49);
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding:1em 1.2em;
    color: #F4F4F4;
}

main {
    margin: 0 auto;
    min-width: 100%;
    display: flex;
    flex-flow: column wrap;
}

main section .inner {
    max-width: 30em;
    margin: 0 auto;
    text-align: left;
}

main section h1 {
    margin: 1em 0;
    text-align: center;
}

main section[id*="countries"] {
    max-width: 100%;
    padding: 1em;
    background-color: #F4F4F4;
    min-height: 100vh;
}

main section[id*="countries"] .inner {
    max-width: 100%;
}

main section[id*="country"] {
    position: relative;
    text-align: left;
    margin-bottom: 1em;
}

#countriesOverview {
}

#countriesOverview .country {
    display: inline-block;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(67, 72, 76);
    width: 100%;
    text-align: center;
}

#countriesOverview .country:nth-child(odd) {
    color: rgb(67, 72, 76);
 }
#countriesOverview .country:nth-child(even) {
    color: rgb(249, 92, 60);
}


main section[id*="country"] .inner ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main section[id*="country"] .inner li {
    margin: .5em 0;
}

main section[id*="country"] .inner label {
    font-weight: bold;
}

#map {
    min-height: 25em;
    max-width: 100%;
}

/*#map::before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom: 0;*/
    /*background-color: rgba(255,255,255, 0.8);*/
    /*z-index: 1;*/
/*}*/

#autoComplete {
    width: 100%;
    max-width: 30em;
    min-height: 2em;
    font-size: 1em;
    padding: 0 1em;
    box-sizing: border-box;
}

button {
    border:0;
    border-radius: 0;
    font-size: 1em;
    padding:1em 2em;
    width: 100%;
    max-width: 10em;
    margin: 1em;
    background-color: #F97E07;
    color: #F4F4F4;
}

button:hover,
button:focus {
    background-color: #5AA6DA;
}

/*select {*/
    /*color: #003768;*/
    /*outline: 0 ;*/
    /*border-radius: 0;*/
    /*-webkit-appearance: none;*/
    /*-webkit-border-radius: 0;*/
    /*display: inline-block;*/
    /*border: 0;*/
    /*font-weight: 700;*/
    /*font-size: 14px;*/
    /*height: auto;*/
    /*padding: 10px 45px 10px 20px;*/
    /*position: relative;*/
    /*margin-bottom: 15px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*min-height: 47px;*/
    /*vertical-align: bottom;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
/*}*/

#countryContainer {
    padding: 1em;
}

.filterLabel {
    display: block;
    padding: 1em 2em;
    background-color: rgba(249, 92, 60, 0.8);
    border: .15em solid rgba(249, 92, 60, 0.8);
    border-radius: .4em;
    margin: 0.8em auto;
    color: rgb(255, 248, 246);
    transition: background-color .5s ease;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    max-width: 20em;
}

#showFilters:checked + #allClickButtons {
    display: block;
}

#allClickButtons {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #28292D;
    max-width: 20em;
    display: none;
}

#allClickButtons li label {
    display: block;
    padding: 1em 2em;
    background-color: rgb(249, 92, 60);
    border: .15em solid rgb(249, 92, 60);
    border-radius: .4em;
    margin: 0.8em 0;
    color: rgb(255, 248, 246);
    transition: all .5s ease;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
}

#allClickButtons li label:hover,
.filterLabel:hover {
    background-color: rgb(232, 80, 49);
    border: .15em solid rgb(232, 80, 49);
}

#allClickButtons li input:checked + label {
    background-color: transparent;
    border: .15em solid rgb(249, 92, 60);
    color: rgb(249, 92, 60);
}

input[type='radio'],
input[type='checkbox']{
    position: absolute;
    clip: rect(0,0,0,0);
    margin: 0 .5em 0 0;
}

@keyframes spinner-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-in-out {
    0% {
        opacity:1;
        transform: scale(1, 1);
    }
    50% {
        opacity:.2;
        transform: scale(.5, .5);
    }
    100% {
        opacity:1;
        transform: scale(1, 1);
    }
}